// app global css
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto');
@import 'forms.styl'

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

li{
    list-style:none;
}



.text-gray{
    color:rgba(gray,0.5);
    font-size: 14px;

}

.test{
    background: red;
    outline: 1px solid yellow;
}

.title{
    font-family: 'Julius Sans One', sans-serif;
}
.white{
    color: #fff;
}
.text-{
    &xs{font-size:8px;}
    &sm{
        font-size: 10px;
    }
    &md{font-size:14px;}
}
